/* Start Global Rules */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --main-color: #2196f3;
    --secondry-color: #2c4755;
    --transparent-color: rgb(15 116 143 / 70%);
    --main-padding: 100px;
    --section-background-color: #f6f6f6;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Cairo', sans-serif;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
h1.section-title{
    margin: 0 auto 60px auto;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding: 10px 20px;
    border: 2px solid #000;
    width: fit-content;
    cursor: pointer;
    z-index: 1;
}
h1.section-title::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -35px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--main-color);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
h1.section-title::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -35px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--main-color);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
h1.section-title:hover::after{
    animation: toRight 0.5s linear forwards;
    -webkit-animation: toRight 0.5s linear forwards;
}
h1.section-title:hover::before{
    animation: toLeft 0.5s linear forwards;
    -webkit-animation: toLeft 0.5s linear forwards;
}
h1.section-title:hover{
    border-color: #fff;
    color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition-delay: 0.6s;
}
@keyframes toRight {
    50%{
        right: 0;
    }
    100%{
        right: 0;
        width: 51%;
        height: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        z-index: -1;
}
}
@keyframes toLeft {
    50%{
        left: 0;
    }
    100%{
        left: 0;
        width: 51%;
        height: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        z-index: -1;
}
}
@media (min-width: 768px) { 
    .container{
        width: 750px;
    }
    header ul:last-of-type li:last-of-type .menu{
        width: 750px;
    }
}
@media (min-width: 992px) { 
    .container{
        width: 970px;
    }
    header ul:last-of-type li:last-of-type .menu{
        width: 970px;
    }
}
@media (min-width: 1200px) { 
    .container{
        width: 1170px;
    }
    header ul:last-of-type li:last-of-type .menu{
        width: 1170px;
    }
}
/* End Global Rules */
/* ------------------------------------------------------------------- */
/* Start Header */
    /* Elements Styles */
header{
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 10px 0 #eee;
    min-height: 60px;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    min-height: 60px;
}
header .logo{
    color: var(--main-color);
    font-size: 30px;
    cursor: pointer;
}
header .container > ul{
    display: flex;
    font-size: 17px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}
header .container > ul > li{
    --border-color: #f8f8f8;
    border-right: 0.3px solid transparent;
    border-left: 0.3px solid transparent;
    padding: 0 30px;
    display: flex;
    height: 60px;
    align-items: center;
    text-align: center;
    position: relative;
}
header .container > ul > li > a{
    color: #000;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    display: block;
    font-size: 15px;
}
header .container > ul > li::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 0;
    background-color: var(--main-color);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
header ul:last-of-type li:last-of-type .menu{
    position: absolute;
    top: 101%;
    right: 0;
    z-index: 2;
    background-color: #fff;
    padding: 30px;
    padding-bottom: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    z-index: 100;
    top: calc(100% + 1px);
    border-bottom: 5px solid var(--main-color);
    display: none;
}
header ul:last-of-type li:last-of-type .menu ul.links{
    flex-basis: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
header ul:last-of-type li:last-of-type .menu ul.links li{
    position: relative;
    width: 100%;
    min-width: 215px;
    overflow: hidden;
}
header ul:last-of-type li:last-of-type .menu ul.links li:not(:last-child){
    border-bottom: 1px solid #eee;
}
header ul:last-of-type li:last-of-type .menu ul.links li a{
    display: flex;
    color: var(--main-color);
    font-weight: bolder;
    font-size: 18px;
    padding: 15px;
    align-items: center;
    justify-content: flex-start;
}
header ul:last-of-type li:last-of-type .menu ul.links li::before{
    content: "";
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    z-index: -1;
}
header ul:last-of-type li:last-of-type .menu ul.links:last-child li:last-child a{
    text-align: left;
}
header ul:last-of-type li:last-of-type .menu ul.links li a i{
    margin-right: 10px;
}

    /* Hover(s) */
header ul:last-of-type li:last-of-type .menu ul.links li:hover::before{
    left: 0;
}
header .container > ul > li:hover::before{
    width: 100%;
}
header .container > ul > li:hover{
    border-right: 0.3px solid var(--border-color);
    border-left: 0.3px solid var(--border-color);
    background-color: #fafafa;
}
header .container > ul > li:hover > a{
    color: var(--main-color);
}
header .container > ul > li:last-of-type:hover .menu{
    display: flex;
}

    /* Media Quereis */
@media (max-width: 768px) {
    header .container > ul{
        justify-content: center;
    }
    header .container > ul > li{
        padding: 0 10px;
        height: 30px;
    }
    header ul:last-of-type li:last-of-type .menu{
        width: calc(100vw + 30px);
        right: -15px;
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media (max-width: 408px) {
    header .container{
        justify-content: center;
    }    
}
@media (max-width: 1200px) {
    header ul:last-of-type li:last-of-type .menu img{
        width: 330px;
    }
}
@media (max-width: 992px) {
    header ul:last-of-type li:last-of-type .menu img{
        display: none;
    }
    header ul:last-of-type li:last-of-type .menu ul.links,
    header ul:last-of-type li:last-of-type .menu ul.links li{
        width: 100%;
    }
}
@media (max-width: 337px) {
    header ul:last-of-type li:last-of-type .menu{
        right: -120px;
    }
}
/* End Header */
/* ----------------------------------------------------------------- */
/* Start Landing */
.landing{
    position: relative;
}
.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .container{
    min-height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 120px;
}
.landing .text{
    flex: 1;
}
.landing .text h1{
    font-size: 40px;
    margin-bottom: 20px;
    letter-spacing: -2px;
}
.landing .text p{
    font-size: 23px;
    color: #777;
    line-height: 1.8;
}
.landing .img img{
    position: relative;
    width: 600px;
    animation: up-and-down 1.5s linear infinite alternate;
    -webkit-animation: up-and-down 1.5s linear infinite alternate;
}
@keyframes up-and-down {
    to{
        transform: translateY(-35px);
        -webkit-transform: translateY(-35px);
        -moz-transform: translateY(-35px);
        -ms-transform: translateY(-35px);
        -o-transform: translateY(-35px);
}
}
.landing .arrow{
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    display: flex;
    flex-direction: column;
}
.landing .arrow i{
    animation: 1.3s up-down infinite;
    -webkit-animation: 1.3s up-down infinite;
    font-weight: bolder;
    font-size: 30px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.landing .arrow i:hover{
    color: #096dc0;
}
@keyframes up-down {
    0%,
    10%,
    20%,
    50%,
    80%,
    100%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
    40%,
    60%{
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
    }
}
@media (max-width: 1000px) {
    .landing .img{
        display: none;
    }
    .landing .text{
        text-align: center;
        max-width: 600px;
    }
    .landing .container{
        justify-content: center;
    }
}
/* End Landing */
/* --------------------------------------------------- */
/* Start Articles */
.articles, .gallery{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.articles .container , .gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px , 1fr));
    gap: 40px;
}
.articles .box{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 2px 10px #e6e6e6;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.articles .box:hover{
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    box-shadow: 0 2px 15px #c4c4c4;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 10%;
}
.articles .box:hover img{
    border-top-right-radius: 20%;
}
.articles .box:hover .more i{
    animation: 0.7s right-left infinite;
    -webkit-animation: 0.7s right-left infinite;
}
@keyframes right-left {
    to{
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
    }
}
.articles .box img{
    max-width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.articles .box h3{
    padding: 20px;
}
.articles .box p{
    padding: 0 20px 20px 20px;
    color: #777;
    line-height: 1.4;
}
.articles .box .more{
    padding: 20px;
    position: relative;
    color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articles .box .more::before{
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    height: 1px;
    width: calc(100% - 20px);
    background-color: #eee;
}
.articles .box .more i{
    cursor: pointer;
}
.spikes{
    position: relative;
}
.spikes::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background-image: linear-gradient(226deg , #fff 25% , transparent 25%),
                        linear-gradient(139deg , #fff 25% , transparent 25% );
    background-size: 30px;
}
/* End Articles */
/* Start Gallry */
.gallery{
    background-color: #f7f7f7;
}
.gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px , 1fr));
    gap: 40px;
}
.gallery .box{
    padding: 20px;
    box-shadow: 0 2px 10px #a0a0a0;
}
.gallery .box .img{
    overflow: hidden;
    position: relative;
    perspective: 500px;
    transform-style: preserve-3d;
}
.gallery .box .img::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    background-color: rgba(238, 238, 238, 0.5);
    width: 1px;
    height: 1px;
    z-index: 2;
    transform-style: preserve-3d;
}
.gallery .box .img img{
    max-width: 100%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.gallery .box .img:hover::before{
    animation: scaling 2s;
    -webkit-animation: scaling 2s;
}
.gallery .box .img:hover img{
    transform: scale(1.2) rotate(5deg);
    -webkit-transform: scale(1.2) rotate(5deg);
    -moz-transform: scale(1.2) rotate(5deg);
    -ms-transform: scale(1.2) rotate(5deg);
    -o-transform: scale(1.2) rotate(5deg);
}
@keyframes scaling {
    50%{
        transform: scale(1000);
        -webkit-transform: scale(1000);
        -moz-transform: scale(1000);
        -ms-transform: scale(1000);
        -o-transform: scale(1000);
    }
    100%{
        opacity: 0;
    }
}
/* End Gallry */
/* Start Features */
.features{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    gap: 40px;
}
.features .box{
    border: 1px solid #c4c4c4;
}
.features .box .img{
    position: relative;
    overflow: hidden;
}
.features .box .img::before{
    content: "";
    position: absolute;
    bottom: -2px;
    right: -2px;
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    z-index: 4;
    border-width: 0px 0px 170px 500px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.features .box img{
    max-width: 100%;
    position: relative;
    display: block;
}
.features .box .img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--transparent-color);
    z-index: 2;
}
.features .box .text{
    text-align: center;
    padding: 20px;
}
.features .box .text h1{
    font-size: 35px;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    font-weight: bold;
}
.features .box:nth-child(1){
    --text-color: #f44036;
    --transparent-color: #f43f3685;
}
.features .box:nth-child(2){
    --text-color: #009688;
    --transparent-color: #00968885;
}
.features .box:nth-child(3){
    --text-color: #03a9f4;
    --transparent-color: #03a9f485;
}
.features .box .text h1::before{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);
    background-color: var(--text-color);
}
.features .box .text p{
    margin: 60px 0;
    color: #777;
    font-size: 20px;
    line-height: 2;
}
.features .box .text .btn{
    background-image: linear-gradient( to right , var(--text-color) 50% , #fff 50% );
    background-position: right center;
    background-size: 200% 100%;
    padding: 10px 30px;
    border: 3px solid var(--text-color);
    color: var(--text-color);
    border-radius: 5px;
    display: block;
    cursor: pointer;
    margin: 0 auto 10px auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: fit-content;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.features .box:hover .text .btn{
    color: #fff;
    background-position: left center;
}
.features .box:hover .img::before{
    border-width: 170px 500px 170px 0;
}
/* End Features */