/* Start Global Rules */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --main-color: #2196f3;
    --secondry-color: #2c4755;
    --transparent-color: rgb(15 116 143 / 70%);
    --main-padding: 100px;
    --section-background-color: #ececec;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Cairo', sans-serif;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
h2.section-title{
    margin: 0 auto 100px auto;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding: 10px 20px;
    border: 2px solid #000;
    width: fit-content;
    cursor: pointer;
    z-index: 1;
    font-size: 27px;
}
h2.section-title::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -35px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--main-color);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
h2.section-title::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -35px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--main-color);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
h2.section-title:hover::after{
    animation: toRight 0.5s linear forwards;
    -webkit-animation: toRight 0.5s linear forwards;
}
h2.section-title:hover::before{
    animation: toLeft 0.5s linear forwards;
    -webkit-animation: toLeft 0.5s linear forwards;
}
h2.section-title:hover{
    border-color: #fff;
    color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition-delay: 0.6s;
}
@keyframes toRight {
    50%{
        right: 0;
    }
    100%{
        right: 0;
        width: 0;
        height: 0;
        width: 51%;
        height: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        z-index: -1;
}
}
@keyframes toLeft {
    50%{
        left: 0;
    }
    100%{
        width: 0;
        height: 0;
        left: 0;
        width: 51%;
        height: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        z-index: -1;
}
}
@media (min-width: 768px) { 
    .container{
        width: 750px;
    }
    header ul:last-of-type li:last-of-type .menu{
        width: 750px;
    }
}
@media (min-width: 992px) { 
    .container{
        width: 970px;
    }
    header ul:last-of-type li:last-of-type .menu{
        width: 970px;
    }
}
@media (min-width: 1200px) { 
    .container{
        width: 1170px;
    }
    header ul:last-of-type li:last-of-type .menu{
        width: 1170px;
    }
}
/* End Global Rules */
/* ------------------------------------------------------------------- */
/* Start Header */
    /* Elements Styles */
header{
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 10px 0 #eee;
    min-height: 60px;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    min-height: 60px;
}
header .logo{
    color: var(--main-color);
    font-size: 30px;
    cursor: pointer;
}
header .container > ul{
    display: flex;
    font-size: 17px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}
header .container > ul > li{
    --border-color: #f8f8f8;
    border-right: 0.3px solid transparent;
    border-left: 0.3px solid transparent;
    padding: 0 30px;
    display: flex;
    height: 60px;
    align-items: center;
    text-align: center;
    position: relative;
}
header .container > ul > li > a{
    color: #000;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    display: block;
    font-size: 15px;
}
header .container > ul > li::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 0;
    background-color: var(--main-color);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
header ul:last-of-type li:last-of-type .menu{
    position: absolute;
    top: 101%;
    right: 0;
    z-index: 2;
    background-color: #fff;
    padding: 30px;
    padding-bottom: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    z-index: 100;
    top: calc(100% + 1px);
    border-bottom: 5px solid var(--main-color);
    display: none;
}
header ul:last-of-type li:last-of-type .menu ul.links{
    flex-basis: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
header ul:last-of-type li:last-of-type .menu ul.links li{
    position: relative;
    width: 100%;
    min-width: 215px;
    overflow: hidden;
}
header ul:last-of-type li:last-of-type .menu ul.links li:not(:last-child){
    border-bottom: 1px solid #eee;
}
header ul:last-of-type li:last-of-type .menu ul.links li a{
    display: flex;
    color: var(--main-color);
    font-weight: bolder;
    font-size: 18px;
    padding: 15px;
    align-items: center;
    justify-content: flex-start;
}
header ul:last-of-type li:last-of-type .menu ul.links li::before{
    content: "";
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    z-index: -1;
}
header ul:last-of-type li:last-of-type .menu ul.links:last-child li:last-child a{
    text-align: left;
}
header ul:last-of-type li:last-of-type .menu ul.links li a i{
    margin-right: 10px;
}

    /* Hover(s) */
header ul:last-of-type li:last-of-type .menu ul.links li:hover::before{
    left: 0;
}
header .container > ul > li:hover::before{
    width: 100%;
}
header .container > ul > li:hover{
    border-right: 0.3px solid var(--border-color);
    border-left: 0.3px solid var(--border-color);
    background-color: #fafafa;
}
header .container > ul > li:hover > a{
    color: var(--main-color);
}
header .container > ul > li:last-of-type:hover .menu{
    display: flex;
}

    /* Media Quereis */
@media (max-width: 768px) {
    header .container > ul{
        justify-content: center;
    }
    header .container > ul > li{
        padding: 0 10px;
        height: 30px;
    }
    header ul:last-of-type li:last-of-type .menu{
        width: calc(100vw + 30px);
        right: -15px;
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media (max-width: 408px) {
    header .container{
        justify-content: center;
    }    
}
@media (max-width: 1200px) {
    header ul:last-of-type li:last-of-type .menu img{
        width: 330px;
    }
}
@media (max-width: 992px) {
    header ul:last-of-type li:last-of-type .menu img{
        display: none;
    }
    header ul:last-of-type li:last-of-type .menu ul.links,
    header ul:last-of-type li:last-of-type .menu ul.links li{
        width: 100%;
    }
}
@media (max-width: 337px) {
    header ul:last-of-type li:last-of-type .menu{
        right: -120px;
    }
}
/* End Header */
/* ----------------------------------------------------------------- */
/* Start Landing */
.landing{
    position: relative;
}
.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 120px;
    min-height: calc(100vh - 60px);
}
.landing .text{
    flex: 1;
}
.landing .text h1{
    font-size: 40px;
    margin-bottom: 20px;
    letter-spacing: -2px;
}
.landing .text p{
    font-size: 23px;
    color: #777;
    line-height: 1.8;
}
.landing .img img{
    position: relative;
    width: 600px;
    animation: up-and-down 1.5s linear infinite alternate;
    -webkit-animation: up-and-down 1.5s linear infinite alternate;
}
@keyframes up-and-down {
    to{
        transform: translateY(-35px);
        -webkit-transform: translateY(-35px);
        -moz-transform: translateY(-35px);
        -ms-transform: translateY(-35px);
        -o-transform: translateY(-35px);
}
}
.landing .arrow{
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    display: flex;
    flex-direction: column;
}
.landing .arrow i{
    animation: 1.3s up-down infinite;
    -webkit-animation: 1.3s up-down infinite;
    font-weight: bolder;
    font-size: 30px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.landing .arrow i:hover{
    color: #096dc0;
}
@keyframes up-down {
    0%,
    10%,
    20%,
    50%,
    80%,
    100%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
    40%,
    60%{
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
    }
}
@media (max-width: 1000px) {
    .landing .img{
        display: none;
    }
    .landing .text{
        text-align: center;
        max-width: 600px;
    }
    .landing .container{
        justify-content: center;
    }
}
/* End Landing */
/* --------------------------------------------------- */
/* Start Articles */
.articles, .gallery{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.articles .container , .gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px , 1fr));
    gap: 40px;
}
.articles .box{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 2px 10px #e6e6e6;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.articles .box:hover{
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    box-shadow: 0 2px 15px #c4c4c4;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 10%;
}
.articles .box:hover img{
    border-top-right-radius: 20%;
}
.articles .box:hover .more i{
    animation: 0.7s right-left infinite;
    -webkit-animation: 0.7s right-left infinite;
}
@keyframes right-left {
    to{
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
    }
}
.articles .box img{
    max-width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.articles .box h3{
    padding: 20px;
}
.articles .box p{
    padding: 0 20px 20px 20px;
    color: #777;
    line-height: 1.4;
}
.articles .box .more{
    padding: 20px;
    position: relative;
    color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articles .box .more::before{
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    height: 1px;
    width: calc(100% - 20px);
    background-color: #eee;
}
.articles .box .more i{
    cursor: pointer;
}
.spikes{
    position: relative;
}
.spikes::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background-image: linear-gradient(226deg , #fff 25% , transparent 25%),
                        linear-gradient(139deg , #fff 25% , transparent 25% );
    background-size: 30px;
}
/* End Articles */
/* Start Gallry */
.gallery{
    background-color: var(--section-background-color);
}
.gallery .container,
.testimonials .container,
.services .container,
.team .container,
.pricing .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px , 1fr));
    gap: 40px;
}
.gallery .box{
    padding: 20px;
    box-shadow: 0 2px 10px #a0a0a0;
}
.gallery .box .img{
    overflow: hidden;
    position: relative;
    perspective: 500px;
    transform-style: preserve-3d;
}
.gallery .box .img::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    background-color: rgba(238, 238, 238, 0.5);
    width: 1px;
    height: 1px;
    z-index: 2;
    transform-style: preserve-3d;
}
.gallery .box .img img{
    max-width: 100%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.gallery .box .img:hover::before{
    animation: scaling 2s;
    -webkit-animation: scaling 2s;
}
.gallery .box .img:hover img{
    transform: scale(1.2) rotate(5deg);
    -webkit-transform: scale(1.2) rotate(5deg);
    -moz-transform: scale(1.2) rotate(5deg);
    -ms-transform: scale(1.2) rotate(5deg);
    -o-transform: scale(1.2) rotate(5deg);
}
@keyframes scaling {
    50%{
        transform: scale(1000);
        -webkit-transform: scale(1000);
        -moz-transform: scale(1000);
        -ms-transform: scale(1000);
        -o-transform: scale(1000);
    }
    100%{
        opacity: 0;
    }
}
@media (max-width: 320px) {
    .gallery .container,
    .testimonials .container,
    .services .container,
    .team .container{
        grid-template-columns: repeat(auto-fill, minmax(250px , 1fr));
    }
}
/* End Gallry */
/* Start Features */
.features,
.team,
.services,
.our-skills,
.events,
.videos{
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.features .box{
    border: 1px solid #c4c4c4;
}
.features .box .img{
    position: relative;
    overflow: hidden;
}
.features .box .img::before{
    content: "";
    position: absolute;
    bottom: -2px;
    right: -2px;
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    z-index: 4;
    border-width: 0px 0px 170px 500px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.features .box img{
    max-width: 100%;
    position: relative;
    display: block;
}
.features .box .img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--transparent-color);
    z-index: 2;
}
.features .box .text{
    text-align: center;
    padding: 20px;
}
.features .box .text h1{
    font-size: 35px;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    font-weight: bold;
}
.features .box:nth-child(1){
    --text-color: #f44036;
    --transparent-color: #f43f3685;
}
.features .box:nth-child(2){
    --text-color: #009688;
    --transparent-color: #00968885;
}
.features .box:nth-child(3){
    --text-color: #03a9f4;
    --transparent-color: #03a9f485;
}
.features .box .text h1::before{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);
    background-color: var(--text-color);
}
.features .box .text p{
    margin: 60px 0;
    color: #777;
    font-size: 20px;
    line-height: 2;
}
.features .box .text .btn{
    background-image: linear-gradient( to right , var(--text-color) 50% , #fff 50% );
    background-position: right center;
    background-size: 200% 100%;
    padding: 10px 30px;
    border: 3px solid var(--text-color);
    color: var(--text-color);
    border-radius: 5px;
    display: block;
    cursor: pointer;
    margin: 0 auto 10px auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: fit-content;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.features .box:hover .text .btn{
    color: #fff;
    background-position: left center;
}
.features .box:hover .img::before{
    border-width: 170px 500px 170px 0;
}
/* End Features */
/* Start Testimonials */
.testimonials,
.services,
.work,
.pricing{
    background-color: var(--section-background-color);
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.testimonials .box{
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 10px #0001;
    position: relative;
}
.testimonials .box img{
    width: 100px;
    border-radius: 50%;
    border: 10px solid var(--section-background-color);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: -50px;
    right: -10px;
}
.testimonials .box h3{
    margin: 0;
    margin-bottom: 10px;
    cursor: pointer;
}
.testimonials .box span{
    display: block;
    margin: 0;
    margin-bottom: 10px;
    color: #777;
}
.testimonials .box i{
    margin-bottom: 10px;
}
.testimonials .box i.filled{
    color: #ffc107;
}
.testimonials .box P{
    line-height: 1.5;
    color: #333;
}
/* End Testimonials */
/* Strat Team */
.team .box{
    position: relative;
}
.team .box::before,
.team .box::after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: #eee;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.team .box::before{
    width: calc(100% - 60px);
    z-index: -2;
}
.team .box::after{
    z-index: -1;
    background-color: #e4e4e4;
    width: 0;
}
.team .box:hover::after{
    width: calc(100% - 60px);
}
.team .box .info{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.team .box .info .social{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 60px;
}
.team .box .info .social a{
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.team .box .info .social a:hover i{
    color: var(--main-color);
}
.team .box .info .social a i{
    font-size: 21px;
    color: #777;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.team .box .info img{
    width: 100%;
    border-radius: 10px;
    width: calc(100% - 60px);
    transition: 0.3s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.team .box:hover .info img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.team .box .text{
    padding: 10px 0 20px 80px;
}
.team .box .text h3{    
    font-size: 22px;
    margin-bottom: 7px;
    margin-top: 10px;
    color: var(--main-color);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.team .box:hover .text h3{
    color: #777;
}
/* End Team */
/* Start Services */
.services .box{
    background-color: #fff;
    text-align: center;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    position: relative;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.services .box::after{
    content: "";
    top: -3px;
    height: 3px;
    left: 50%;
    position: absolute;
    background: var(--main-color);
    transition: 0.3s;
    transform: translateX(-50%);
    width: 0;
}
.services .box:hover::after{
    width: 100%;
}
.services .box:hover{
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
.services .box i{
    color: #d5d5d5;
    margin: 35px auto 20px;
}
.services .box h2{
    color: var(--main-color);
    margin-bottom: 40px;
}
.services .box .info{
    padding: 15px;
    background-color: #f9f9f9;
    position: relative;
    overflow: hidden;
}
.services .box:nth-child(1) .info::before{
    content: "01";
}
.services .box:nth-child(2) .info::before{
    content: "02";
}
.services .box:nth-child(3) .info::before{
    content: "03";
}
.services .box:nth-child(4) .info::before{
    content: "04";
}
.services .box:nth-child(5) .info::before{
    content: "05";
}
.services .box:nth-child(6) .info::before{
    content: "06";
}
.services .box .info::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    padding-right: 20px;
    color: #fff;
    background-color: var(--main-color);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
}
.services .box .info::after{
    content: "";
    position: absolute;
    top: 0;
    left: 80px;
    width: 50px;
    height: calc(100% + 0.4px);
    transform: skewX(-30deg);
    background-color: #d5d5d5;
}
.services .box .info a{
    color: var(--main-color);
    text-align: right;
    display: block;
}
/* End Services */
/* Start Our-Services */
.our-skills .container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.our-skills .skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}
.our-skills .skills .skill .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.our-skills .skills .skill .title span{
    font-weight: bold;
    color: var(--main-color);
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 2.5px 5px;
    font-size: 14px;
}
.our-skills .skills .skill .bar{
    background: #eee;
    height: 30px;
    width: 100%;
    position: relative;
}
.our-skills .skills .skill .bar span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--main-color);
}
@media (max-width: 992px) {
    .our-skills img{
        display: none;
    }
}
/* End Our-Services */
/* Start Work */
.work .container{
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}
.work .info{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.work img:first-child{
    max-width: 100%;
}
.work .box{
    display: flex;
    border: 3px solid #fff;
    gap: 25px;
    align-items: center;
    padding: 30px;
    z-index: 1;
    background: #f6f4f4;
    position: relative;
}
.work .box::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.1px;
    height: 0.1px;
    background-color: #ededed;
    transition: 0.5s;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    z-index: -1;
}
.work .box:hover::after{
    width: 100%;
    height: 100%;
}
.work .box img{
    width: 64px;
}
.work .box .text p{
    color: #777;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 5px;
}
@media (max-width: 992px) {
    .work .container ,
    .work .info .box{
        flex-direction: column;
        text-align: center;
    }
}
/* End Work */
/* Start Events */
.events .container{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.events img:first-of-type{
    max-width: 460px;
}
.events .info{
    text-align: center;
    flex: 1;
}
.events .info .time{
    display: flex;
    margin: 15px auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.events .info .time .unit{
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    width: 75px;
    transition: 0.3s;
    cursor: pointer;
}
.events .info .time .unit span{
    display: block;
}
.events .info .time .unit span:first-child{
    padding: 15px;
    font-size: 30px;
    color: var(--main-color);
    font-weight: bold;
}
.events .info .time .unit span:last-child{
    padding: 8px 10px;
    font-size: 13px;
    border-top: 1px solid #d4d4d4;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.events .info .time .unit:hover{
    border-color: var(--main-color);
}
.events .info .time .unit:hover span:last-child{
    border-top-color: var(--main-color);
}
.events .info h2{
    margin: 40px 0 20px;
    font-size: 30px;
}
.events .info p{
    line-height: 1.5;
    font-size: 19px;
    color: #777;
}
.events .form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.events form{
    background: #f6f5f5;
    padding: 25px 40px;
    border-radius: 50px;
    width: 600px;
    display: flex;
}
.events .form input:first-child{
    border: none;
    padding: 20px;
    border-radius: 30px;
    font-size: 16px;
    flex: 1;
    caret-color: var(--main-color);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.events .form input:first-child:focus{
    outline-color: var(--main-color);
}
.events .form input:first-child::placeholder{
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.events .form input:first-child:focus::placeholder{
    color: #fff;
}
.events .form input:last-child{
    padding: 20px;
    border-radius: 30px;
    border: none;
    background: var(--main-color);
    color: #fff;
    font-weight: bold;
    margin-left: 15px;
    cursor: pointer;
    transition: 0.3s;
}
.events .form input:last-child:hover{
    background-color: #1f89df;
}
@media (max-width: 992px) {
    .events img:first-of-type{
        display: none;
    }
}
@media (max-width: 320px) {
    .events .container{
        display: block;
    }
}
@media (max-width: 768px) {
    .events .form form{
        border-radius: 0;
        flex-wrap: wrap;
        gap: 20px;
    }
    .events .form input:first-child{
        border-radius: 0;        
    }
    .events .form input:last-child{
        width: 100%;
        border-radius: 0;        
    }
}
/* End Events */
/* Start Pricing */
.pricing .box{
    position: relative;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    text-align: center;
    z-index: 1;
    background-color: #fff;
}
@media (min-width: 1200px) {

    .pricing .box:nth-child(2){
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
    }
}
.pricing .box::after,
.pricing .box::before {
    content: "";
    position: absolute;
    height: 50%;
    width: 0;
    background-color: #f6f6f6;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    z-index: -1;
}
.pricing .box::after{
    bottom: 0;
    right: 0;
}
.pricing .box::before{
    top: 0;
    left: 0;
}
.pricing .box:hover::after,
.pricing .box:hover::before{
    width: 100%;
}
.pricing .box .price{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.pricing .box .tag{
    position: absolute;
    writing-mode: vertical-lr;
    top: 0;
    right: 40px;
    color: #fff;
    background: var(--main-color);
    padding: 10px 10px 40px;
    font-weight: bold;
    font-size: 18px;
}
.pricing .box .tag::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
.pricing .box .price h2{
    margin: 20px;
    letter-spacing: -1px;
    font-size: 25px;
}
.pricing .box .price span{
    display: block;
}
.pricing .box .price .num{
    font-size: 60px;
    color: var(--main-color);
    font-weight: bold;
    margin: 30px 0 0;
}
.pricing .box .price .sub{
    color: #777;
    margin-bottom: 20px;
}
.pricing .box .price img{
    width: 80px;
}
.pricing .box ul{
    text-align: left;
}
.pricing .box ul li{
    padding: 20px;
    border-top: 1px solid #eee;
    position: relative;
}
.pricing .box ul li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: bold;
    color: var(--main-color);
}
.pricing .box a{
    display: block;
    width: fit-content;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    margin: 30px auto 40px;
    padding: 15px 20px;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.pricing .box a:hover{
    color: #fff;
    background: #1f89df; 
}
@media (max-width: 380px) {
    .pricing .container{
        grid-template-columns: repeat(auto-fill, minmax(250px , 1fr));
    }
}
/* End Pricing */
/* Start Videos */
.videos .holder{
    background-color: var(--section-background-color);
    display: flex;
    border: 1px solid #ddd;
}
.videos .holder .list{
    background-color: #fff;
    min-width: 300px;
}
.videos .holder .list .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 17px;
    font-weight: bold;
    background-color: #f4f4f4;
}
.videos .holder .list .title i{
    color: var(--main-color);
}
.videos .holder ul li{
    padding: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-top: 1px solid #ddd;
    cursor: pointer;
}
.videos .holder ul li:hover{
    color: var(--main-color);
    background-color: #fafafa;
}
.videos .holder ul li span:first-child{
    display: block;
    margin-bottom: 10px;
}
.videos .holder ul li .time{
    color: #777;
}
.videos .holder .preview{
    display: flex;
    justify-content: space-between; 
    padding: 10px;
    flex-direction: column;
}
.videos .holder .preview img{
    max-width: 100%;
}
.videos .holder .preview span{
    background: #fff;
    padding: 20px;
    margin-top: 20px;
}
@media (max-width: 992px) {
    .videos .holder{
        flex-direction: column;
    }
}
/* End Videos */
/* Start Stats */
.stats{
    padding: var(--main-padding) 0;
    position: relative;
    background-image: url(../img/stats.jpg);
    min-height: 300px;
    background-size: cover;
}
.stats::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 95%);
    position: absolute;
    top: 0;
    left: 0;
}
.stats > h2:first-of-type{
    position: relative;
    text-align: center;
    margin: 0 auto 50px;
    font-size: 40px;
    width: fit-content;
}
.stats .container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px , 1fr));
    gap: 40px;
}
.stats .box{
    text-align: center;
    padding: 30px 15px;
    background-color: #fff;
    opacity: 0.8;
    transition: 0.3s;
    position: relative;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.stats .box::after,
.stats .box::before{
    content: "";
    width: 2px;
    position: absolute;
    height: 0;
    background-color: var(--main-color);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.stats .box:hover{
    opacity: 1;
}
.stats .box:hover::after,
.stats .box:hover::before{
    height: 100%;
}
.stats .box::after{
    top: 0;
    left: 1px;
}
.stats .box::before{
    bottom: 0;
    right: 0;
}
.stats .box i{
    font-size: 35px;
}
.stats .box .num{
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0;
}
.stats .box .text{
    display: block;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    color: var(--main-color);
}
/* End Stats */
/* Start Dicount */
.dicount{
    display: flex;
    min-height: 100vh;
}
.dicount > div{
    width: 50VW;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dicount .image{
    position: relative;
    text-align: center;
    color: #fff;
    flex-basis: 50%;
    padding: 35px 20px 0;
    animation: 5s background-change linear infinite alternate;
    -webkit-animation: 5s background-change linear infinite alternate;
    background-image: url(../img/discount-background1.jpg);
}
.dicount .image::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
    position: absolute;
    top: 0;
    left: 0;
}
.dicount .request{
    flex-basis: 50%;
    padding: 35px 20px;
}
.dicount .image h2,
.dicount .request h2{
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
    font-size: 40px;
    letter-spacing: -2px;
}
.dicount .image p{
    position: relative;
    z-index: 2;
    max-width: 500px;
    line-height: 1.7;
    padding-bottom: 15px;
    font-size: 18px;
}
.dicount .image img{
    width: 300px;
    position: relative;
    z-index: 2;
    max-width: 100%;
}
.dicount .request > form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    --width: 302px;
    width: var(--width);
}
.dicount .request input,
.dicount .request textarea{
    padding: 15px;
    border: 0;
    background: #f9f9f9;
    border-bottom: 1px solid #ccc;
}
.dicount .request input:focus,
.dicount .request textarea:focus{
    outline: none;
}
.dicount .request input[type = "submit"]{
    background-color: var(--main-color);
    color: #fff;
    font-weight: bold;
    font-size:20px
}
.dicount .request textarea{
    max-width: var(--width);
    max-height: 336px;
    height: 200px;
}
@keyframes background-change {
    to{
        background-image: url(../img/discount-background2.jpg);
    }
}
@media (max-width: 992px) {
    .dicount{
        flex-direction: column;
    }
    .dicount .image,
    .dicount .request{
        flex-basis: 100%;
        width: 100%;
    }
}
/* End Dicount */